*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(252,245,235,255);
    /* border: 1px solid red; */
}
.navbar{
    display: flex;
    position: sticky;
    border-bottom: 1px solid black;
    height: 80px;
    top: 0;
    z-index: 1000;
    opacity: 0.9;
}
.nav{
    margin-left: 45px;
    margin-top: 20px;
}
.navselectors{
    display: flex;
    margin-top: 30px;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 35px;
    font-size: 16px;
    font-weight: 400px;
}
a {
    color: black;
    text-decoration: none;
}
.navselectors2{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    gap: 20px;
    margin-left: 130px;
    height: 40px;
    margin-top: 15px;
}
.log{
    border: 1px solid black;
    height: 45px;
    border-radius: 25px;
    width: 120px;
    padding-left: 23px;
    padding-top: 10px;
    background-color: white;
}
.download{
    border: 1px solid black;
    height: 45px;
    border-radius: 25px;
    width: 130px;
    background-color: rgba(37,211,102,255);
    padding-top: 12px;
    padding-left: 23px;
}
.hero-container{
    width: 100%;
}
.hero-img-container{
    position: relative;
    width: 95%;
    margin: 30px auto;
    object-fit: contain;
}
.hero-img-container > img {
    width: 100%;
    height: 700px;
    border-radius: 20px;
}
.hero-message1{
    position: absolute;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    top: 155px;
    left: 105px;
    color: white;
    background-color: transparent;
    font-weight: 400px;
    line-height: 80px;
}
.hero-message2{
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400px;
    top: 320px;
    left: 105px;
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.chat1{
    position: absolute;
    top: 90px;
    right: 140px;
    background-color: transparent;
}
.chat1 > img {
    background-color: transparent;
}
.love{
    position: absolute;
    top: 110px;
    left: 750px;
    background-color: transparent;
}
.love > img{
    background-color: transparent;
    height: 50px;
}
.audionote{
    position: absolute;
    top: 232px;
    right: 100px;
    background-color: transparent;
}
.audionote > img{
    background-color: transparent;
}
.cup{
    position: absolute;
    top: 120px;
    right: 100px;
    background-color: transparent;
}
.cup > img{
    background-color: transparent;
}
.image1{
    position: absolute;
    top: 300px;
    right: 83px;
    background-color: transparent;

}
.image1 > img{
    background-color: transparent;
    height: 270px;
}
.emoji2{
    position: absolute;
    top: 550px;
    right: 75px;
    background-color: transparent;
}
.emoji2 > img{
    background-color: transparent;
    height: 50px;
}
.chat2{
    position: absolute;
    top: 600px;
    right: 90px;
    background-color: transparent;
}
.chat2 > img{
    background-color: transparent;
}
.log2{
    position: absolute;
    top: 450px;
    left: 250px;
    border: 1px solid black;
    height: 45px;
    border-radius: 25px;
    width: 120px;
    padding-left: 23px;
    padding-top: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.download2{
    position: absolute;
    top: 450px;
    left: 110px;
    border: 1px solid black;
    height: 45px;
    border-radius: 25px;
    width: 130px;
    background-color: rgba(37,211,102,255);
    padding-top: 12px;
    padding-left: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
.alone{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    opacity: 0.5;
    margin-left: 950px;
}
.hero-message3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400px;
    text-align: center;
    margin-top: 20px;
}
.hero-message4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400px;
    text-align: left;
    margin-left: 150px;
    margin-top: 200px;
}
.image2{
    margin-left: 800px;
    margin-top: -350px;
}
.hero-message5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 25px;
    margin-top: -280px;
    margin-left: 150px;
}
.hero-message6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
    margin-left: 150px;
    margin-top: 40px;
}
.hover-text:hover{
    color: rgb(10, 114, 10);
}
.border{
    border-bottom: 2px solid rgb(53, 218, 53);
    width: 78px;
    margin-left: 152px;
    margin-top: 5px;
}
.angle{
    margin-left: 245px;
    margin-top: -22px
}
.background1{
    position: relative;
    background-color: rgba(17,27,33,255);
    height: 850px;
    margin-top: 150px;
}
.image3{
    position: absolute;
    left: 145px;
    top: 130px;
    background-color: transparent;
}
.image3 > img{
    background-color: transparent;
}
.hero-message7{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 400px;
    line-height: 60px;
    top: 270px;
    left: 780px;
    background-color: transparent;
    color: white;
}
.hero-message8{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 60px;
    color: rgba(37,211,102,255);
    background-color: transparent;
    top: 325px;
    left: 780px;
}
.hero-message9{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400px;
    top: 400px;
    left: 780px;
    background-color: transparent;
    color: white;
}
.hero-message10{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
    margin-left: 150px;
    margin-top: 40px;
    color: white;
    background-color: transparent;
}
.hover-text1{
    position: absolute;
    top: 500px;
    left: 630px;
    background-color: transparent;
    z-index: 1000;
}
.hover-text1:hover{
    color: rgb(10, 114, 10);
}
.border1{
    border-bottom: 2px solid rgb(53, 218, 53);
    width: 78px;
    margin-left: 152px;
    margin-top: 5px;
}
.angle1{
    margin-left: 245px;
    margin-top: -22px;
    background-color: transparent;
}
.hero-message11{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 400px;
    line-height: 60px;
    background-color: transparent;
    margin-top: 250px;
    margin-left: 145px;
}
.hero-message12{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 25px;
    margin-top: 30px;
    margin-left: 145px;
}
.image4{
    margin-left: 800px;
    margin-top: -380px;
    background-color: transparent;
}
.image5{
    margin-left: 775px;
    margin-top: -535px;
    background-color: transparent;
}
.image5 > img{
    background-color: transparent;
    width: 400px;
}
.hero-message13{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
    margin-left: 150px;
    margin-top: 40px;
}
.hover-text2{
    margin-top: -135px;
    margin-left: -3px;
}
.hover-text2:hover{
    color: rgb(10, 114, 10);
}
.border2{
    border-bottom: 2px solid rgb(53, 218, 53);
    width: 78px;
    margin-left: 152px;
    margin-top: 5px;
}
.angle2{
    margin-left: 245px;
    margin-top: -22px
}
.image6{
    margin-left: 200px;
    margin-top: 320px;
}
.image7{
    margin-left: 200px;
    margin-top: -480px;
    background-color: transparent;
}
.image7 > img{
    background-color: transparent;
    width: 350px;
}
.hero-message14{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 400px;
    line-height: 60px;
    margin-left: 700px;
    margin-top: -280px;
}
.hero-message15{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 25px;
    margin-left: 700px;
    margin-top: 20px;
}
.hero-message16{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
    margin-left: 150px;
    margin-top: 40px;
}
.hover-text3{
    margin-top: 25px;
    margin-left: 550px;
}
.hover-text3:hover{
    color: rgb(10, 114, 10);
}
.border3{
    border-bottom: 2px solid rgb(53, 218, 53);
    width: 78px;
    margin-left: 152px;
    margin-top: 5px;
}
.angle3{
    margin-left: 245px;
    margin-top: -22px
}
.hero-message17{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 400px;
    line-height: 60px;
    margin-top: 500px;
    margin-left: 150px;
}
.hero-message18{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 25px;
    margin-left: 150px;
    margin-top: 20px;
}
.hero-message19{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
    margin-left: 150px;
    margin-top: 40px;
}
.hover-text4{
    margin-top: -10px;
    margin-left: -3px;
}
.hover-text4:hover{
    color: rgb(10, 114, 10);
}
.border4{
    border-bottom: 2px solid rgb(53, 218, 53);
    width: 78px;
    margin-left: 152px;
    margin-top: 5px;
}
.angle4{
    margin-left: 245px;
    margin-top: -22px
}
.image8{
    margin-left: 800px;
    margin-top: -480px;
}
.background2{
    position: relative;
    width: 100%;
    margin-top: 120px;
    background-color: rgba(17,27,33,255);
    height: 1200px;
}
.background2-container{
    position: relative;
    object-fit: contain;
    background-color: rgba(230,255,218,255);
    height: 650px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.hero-message20{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 400px;
    line-height: 60px;
    background-color: transparent;
    top: 100px;
}
.hero-message21{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 25px;
    background-color: transparent;
    top: 190px;
}
.page1{
    position: absolute;
    background-color: white;
    height: 450px;
    width: 500px;
    border-radius: 20px;
    margin-left: 600px;
    margin-top: 100px;
}
.logo2{
    margin-top: 50px;
    margin-left: 45px;
    background-color: transparent;
}
.hero-message22{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 400px;
    line-height: 32px;
    margin-top: 35px;
    margin-left: 50px;
    background-color: transparent;
}
.hero-message23{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 22px;
    margin-top: 15px;
    margin-left: 50px;
    background-color: transparent;
}
.click1{
    margin-top: 30px;
    margin-left: 50px;
    width: 130px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
}
.hero-message24{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 19.2px;
    font-weight: 400px;
    background-color: transparent;
    margin-top: 100px;
    margin-left: 185px;
    color: white;
}
.logo{
    position: absolute;
    margin-top: 90px;
    margin-left: 135px;
    background-color: transparent;
}
.logo > img{
    width: 45px;
    background-color: transparent;
}
.hero-message25{
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400px;
    line-height: 15.6px;
    gap: 120px;
    background-color: transparent;
    margin-top: 100px;
    margin-left: 450px;
    color: white;
    opacity: 0.7;
}
.hero-message25 span {
    background-color: transparent;
}
.question1{
    display: inline;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400px;
    margin-top: 150px;
    background-color: transparent;
    color: white;
    margin-left: 450px;
}
.question1 p {
    padding-bottom: 15px;
    background-color: transparent;
}
.question2{
    display: inline;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400px;
    color: white;
    background-color: transparent;
    margin-top: 150px;
    margin-left: 635px;
}
.question2 p {
    background-color: transparent;
    padding-bottom: 15px;
}
.question3{
    display: inline;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400px;
    color: white;
    background-color: transparent;
    margin-top: 150px;
    margin-left: 820px;
}
.question3 p{
    background-color: transparent;
    padding-bottom: 15px;
}
.question4 {
    display: inline;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400px;
    color: white;
    background-color: transparent;
    margin-top: 150px;
    margin-left: 1020px;
}
.question4 p {
    background-color: transparent;
    padding-bottom: 15px;
}
.download3{
    position: absolute;
    top: 890px;
    left: 150px;
    border: 1px solid black;
    height: 45px;
    border-radius: 25px;
    width: 130px;
    background-color: rgba(37,211,102,255);
    padding-top: 12px;
    padding-left: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
.thin-border{
    border-bottom: 1px solid green;
    margin-top: 400px;
    margin-left: 190px;
    margin-right: 190px;
}
.message{
    display: flex;
    background-color: transparent;
}
.message1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16.08px;
    font-weight: 400px;
    background-color: transparent; 
    color: white;
    margin-top: 50px;
    margin-left: 185px;
}
.message2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16.08px;
    font-weight: 400px;
    background-color: transparent;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
}
.message3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16.08px;
    font-weight: 400px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: transparent;
    color: white;
}
.socials{
    position: absolute;
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
    background-color: transparent;
}
.first{
    background-color: transparent;
}
.first > img {
    width: 50px;
    margin-top: -90px;
    margin-left: 550px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
}
.second{
    background-color: transparent;
}
.second > img {
    width: 50px;
    margin-top: -90px;
    border: 1px solid black;
    border-radius: 50px;
}
.third{
    background-color: transparent;
}
.third > img {
    width: 50px;
    margin-top: -100px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 40px;
}
.fourth{
    background-color: transparent;
}
.fourth > img {
    width: 50px;
    margin-top: -100px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
}
.form1{
    background-color: transparent;
    margin-left: 900px;
    margin-top: -20px;
}
.form1 > form{
    background-color: transparent;
}